<!DOCTYPE html>
<html>
  <body>
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
<<<<<<< HEAD
  </body>
=======
    </body>
>>>>>>> 6cc7fb7096d522305e2dbbb0f80b284e2cd97444
</html>